{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'outfits/style.css' %}">

<head>
    <ul class="topnav">
        <li><a class="logo" href="/" style="font-style: italic; font-size: small; color: #6e5533;">fitpic_</a></li>
        <li><a href="outfit">Get Outfit</a></li>
        <li><a href="inventory">Inventory</a></li>
        <li class="right"><a href="http://toshinowo.co/">Dev's Page</a></li>
        <li class="right"><a href="about">About</a></li>
    </ul>
</head>

<body>
<h3 style="margin-left: 15; margin-bottom: 0; text-align: center;">💧💧💧</h3>
<h1 style="font-size: xx-large; font-family: QuietStreets; font-style: italic; margin-left: 15; margin-top: 0; text-align: center;">fitpic_</h1>
<h2 style="font-size: xx-large; margin-left: 15; margin-top: 0; text-align: center;">Welcome to fitpic, Your Virtual Wardrobe</h2>


<span style="color: #880808; font-size: larger; font-style: italic; margin-left: 15; margin-bottom: 0;">Look around. All in the name of Minimalist Drip.</span>
<table style="background-color: #d2b48c; width: 100%;">
    <tr style="color: #fff; background-color: #d2b48c; font-size: xx-large;">
      <th style="width:20%"><h1 href="" style="color: #d2b48c; font-size:xx-large;">💧</h1></th>
      <th style="width:20%"><a href="outfit" style="color: #d2b48c; font-size:xx-large;">🧥</a></th>
      <th style="width:20%"><a href="inventory" style="color: #d2b48c; font-size:xx-large;">🎒</a></th>
      <th style="width:20%"><a href="about" style="color: #d2b48c; font-size:xx-large;">🥾</a></th>
      <th style="width:20%"><a href="http://toshinowo.co/" style="color: #d2b48c; font-size:xx-large;">💻</a></th>
    </tr>
</table>

<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1>

</body>